<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.TeacherDao">
	<select id="selectTeacherById" parameterType="Integer" 
		resultType="com.po.Teacher">
		select * from teacher where teacherId = #{teacherId}
	</select>
	<select id="selectAllTeacher" resultType="com.po.Teacher">
		select * from teacher
	</select>
	<insert id="insertTeacher" parameterType="com.po.Teacher">
		insert into teacher (teacherId,password,name,sex,phone,teacherInf) values(#{teacherId},#{password},#{name},#{sex},#{phone},#{teacherInf})
	</insert>
	<update id="updateTeacher" parameterType="com.po.Teacher">
		update teacher set name = #{name},phone = #{phone},teacherInf = #{teacherInf},password = #{password} where teacherId = #{teacherId}
	</update>
</mapper>